@import 'styles/_variable.scss';

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $deep-blue;
}

.icon-container, .signature-container {
    display: flex;
    width: 380px;
    justify-content: space-evenly;
}
